<div class="text-center">
  <h1 translate>TITLE_CREATE_POLL</h1>
  <form (ngSubmit)="submit()">
    <div class="col-md-4 col-md-offset-4">
      <div *ngIf="message" class="alert alert-{{ message.type }}">{{ message.text }}</div>
      <div class="form-group">
        <input type="text" class="form-control" name="poll" [(ngModel)]="question" [placeholder]="'POLL_QUESTION' | translate" required>
      </div>
      <div class="form-group" *ngFor="let option of options; let i = index; trackBy:customTrackBy">
        <input type="text" class="form-control" placeholder="{{'OPTION' | translate}} {{ i + 1 }}"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="options[i]"
          (focus)="onFocus(i)"
          (blur)="onBlur(i, $event)"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary col-md-8 col-md-offset-2" translate>CREATE_POLL</button>
      </div>
    </div>
  </form>
</div>
